name: spotless-check
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  spotless-check:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          path: iot-benchmark
      - name: spotless-check
        run: |
          cd ${{ github.workspace }}/iot-benchmark
          mvn spotless:check
